/*Tipo de letra*/
html{
    font-family: Tahoma, sans-serif;
}

/*ESTILOS FRAMESET*/
/*Estilo para titulo.html*/
.fondoAmarillo{
    background-color: #FAF898;
    color: #060C97;
    text-align: center;
    text-transform: uppercase;
}
/*Estilo para bienvenidos.hml*/
.fondoAzulOscuro{
    background-color: #060C97;
    color: #ffffff;
}
#centrado{
    position: absolute;
    top: 40%;
    left: 50%;
}
/*Estilo para menu.html*/
.fondoAzulClaro{
    background-color: #2EFEF7;
}
a:hover{
    color: red;
}
/*Estilos para datosPersonales.html*/
.fondoAzul{
    background-color: #00BFFF;
}
label{
    font-weight: bold;
}
/*Estilo para productos.html*/
img{
    max-width: 60px;
}
