/*Tipo de letra*/
html{
    font-family: Tahoma, sans-serif;
}
/*Estilos para el formulario inicial*/
#titulo_Form{
    background-color: #3F52F6;
    color: #ffffff;
}
.formulario{
    background-color: #F6690E;
    font-weight: bold;
}
/*ESTILOS FRAMESET*/
/*Pagina1 - hipervinculoimagen - hipervinculotexto*/
.fondoAmarillo{
    background-color: #FAF898;
    color: #060C97;
    text-align: center;
    text-transform: uppercase;
}
/*pagina2*/
.fondoAzul{
    background-color: #060C97;
    color: #ffffff;
}
a{
    color: #ffffff;
}
a:hover{
    color: red;
}
img{
    max-width: 80%;
}
/*Pagina3*/
ul{
    list-style: square;
}